.board-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
    border-bottom: 1px solid rgba(0,0,0,.1);
}
.bod1{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
.bod2{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
.bod3{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
.board-container h2{
    font-size: 50px;
    padding: 20px;
    margin-bottom: 30px;
}
.board-member{
    border-radius: 5px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.board-member p{
    font-size: 25px;
    text-align: center;
    padding: 10px;
}
.board-member p.officer{
    font-weight: 500;
    font-style: italic;
}